Repository sakashita44/notion-mdpub-pipeline: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint-cli2

Add MIT License to the project
  LICENSE
Due: none

feat: ディレクトリ骨格とドキュメント作成 (#1)
  .github/workflows/.gitkeep
  README.md
  docs/ARCHITECTURE.md
  docs/SETUP.md
  posts/.gitkeep
  rules/.gitkeep
  src/.gitkeep
Due: prettier --write, markdownlint-cli2

docs: StorageAdapter 抽象化に合わせてアーキテクチャ・セットアップ文書を更新
  docs/ARCHITECTURE.md
  docs/SETUP.md
Due: prettier --write, markdownlint-cli2

docs: 「ローカル記事ディレクトリ」を「記事ディレクトリ」に統一し Secret 表記を修正
  docs/ARCHITECTURE.md
  docs/SETUP.md
Due: prettier --write, markdownlint-cli2

chore: TypeScript / ESLint 環境を導入
  .lintstagedrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

feat: StorageAdapter インターフェースと Factory を定義
  src/.gitkeep
  src/storage/adapter.ts
  src/storage/dropbox.ts
  src/storage/factory.ts
  src/storage/gdrive.ts
  src/storage/index.ts
Due: none

chore: CLAUDE.md のコマンド・ディレクトリ構成を更新
  CLAUDE.md
Due: prettier --write, markdownlint-cli2

refactor: factory.ts の環境変数キャストを型安全な実装に修正
  src/storage/factory.ts
Due: none

feat: DropboxAdapter を実装し vitest でユニットテストを追加
  package-lock.json
  package.json
  src/storage/dropbox.test.ts
  src/storage/dropbox.ts
Due: prettier --write

refactor: PR #8 指摘事項を修正（DropboxAdapter 品質改善）
  src/storage/dropbox.test.ts
  src/storage/dropbox.ts
Due: none

feat: 記事配送ワークフローと uploadFile 上書き制御を実装 (#4)
  .github/workflows/deliver.yml
  CLAUDE.md
  package.json
  src/storage/adapter.ts
  src/storage/dropbox.test.ts
  src/storage/dropbox.ts
  src/storage/gdrive.ts
  src/storage/index.ts
  tsconfig.build.json
Due: prettier --write, markdownlint-cli2

fix: ワークフローのブランチフィルタとスクリプトインジェクション対策を追加
  .github/workflows/deliver.yml
Due: none

Path conditions:
  prettier --write: (any of: *.json) or (any of: *.md)
  markdownlint-cli2: any of: *.md
